<div class="card-back">
  <div class="back-header">
    <div class="back-char-line">
      <span class="char-back">{{Character}}</span>
      <span class="audio-inline">{{Audio}}</span>
      <span class="pinyin-back">{{Pinyin}}</span>
      {{#WordType}}<span class="word-type">{{WordType}}</span>{{/WordType}}
      <span class="english-back">{{English}}</span>
    </div>
    <div class="back-info">
      <div class="info-line"><span class="label">Radical: </span>{{Radical}}</div>
      <div class="info-line"><span class="label">Components: </span>{{Components}}</div>
    </div>
  </div>
  <div class="example-block">
    <div class="ex-zh">{{ExampleSentence}}</div>
    <div class="ex-py">{{ExamplePinyin}}</div>
    <div class="ex-en">{{ExampleEnglish}}</div>
  </div>
  <div class="compounds-back-section">{{CompoundsBack}}</div>
</div>
